






<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<div class="outline"></div>
	
	<div class="frame frame1">
		
		
		
		<img class="retina" src="../_common/images/<%= size %>/logo.png" />
		<img id="legal" class="retina" src="../_common/images/<%= size %>/<%= name %>/legal.png" />
		<img class="retina" src="../_common/images/<%= size %>/<%= name %>/text0.png" />
		
		<div id="t1" class="retina maskFX">
			<img src="../_common/images/<%= size %>/<%= name %>/t1.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<div id="t2" class="retina maskFX">
			<img src="../_common/images/<%= size %>/<%= name %>/t2.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<div id="t3" class="retina maskFX">
			<img src="../_common/images/<%= size %>/<%= name %>/t3.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<div id="t4" class="retina maskFX">
			<img src="../_common/images/<%= size %>/<%= name %>/t4.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<img class="retina" id="t5" src="../_common/images/<%= size %>/<%= name %>//t1.png" />



	</div>	
</div>

