






<div id="banner" onclick="javascript:window.open(window.clickTag);">
	<!-- <div class="outline"></div> -->
	
	<div class="frame frame1">
		
		<!-- <img class="retina" src="../_common/images/<%= size %>/<%= name %>/<%= lang %>/bg2.jpg" /> -->
		
		<img class="retina" src="../_common/images/<%= size %>/logo.png" />
		<img class="retina" src="../_common/images/<%= size %>/legal.png" />
		<img class="retina" src="../_common/images/<%= size %>/text0.png" />
		<div id="t1" class="retina maskFX">
			<img src="../_common/images/<%= size %>/t1.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<div id="t2" class="retina maskFX">
			<img src="../_common/images/<%= size %>/t2.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<div id="t3" class="retina maskFX">
			<img src="../_common/images/<%= size %>/t3.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<div id="t4" class="retina maskFX">
			<img src="../_common/images/<%= size %>/t4.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div>

		<img class="retina" id="t5" src="../_common/images/<%= size %>/t1.png" />

		<!-- <div id="t5" class="retina maskFX">
			<img src="../_common/images/<%= size %>/t1.png" />
			<canvas id="canvas" width="600" height="500"></canvas>
		</div> -->

		

		<!-- <svg class="retina" version="1.1" id="theSVG" viewBox="0 0 888 888" width="888" height="888" xml:space="preserve">
		<defs>
			<mask id="masker">
				<rect id="gradientBox" fill="url(#theGradient)" x="0" y="0" width="888" height="888"/>
			</mask>

			<pattern id="pattern" patternUnits="userSpaceOnUse" width="888" height="888">
				<image id="patternImage" xlink:href="../_common/images/<%= size %>/txt_mask.png" x="0" y="0" width="888" height="888" />
			</pattern>

			<lineargradient id="theGradient" gradientUnits="userSpaceOnUse" x1="0" y1="400" x2="888" y2="400">
				<stop  offset="0" style="stop-color:#000000"/>
				<stop  offset="1" style="stop-color:#ffffff"/>
			</lineargradient>

		</defs>
		
		<g mask="url(#masker)">
			<rect id="theImage" width="888" height="888" x="0" y="0" fill="url(#pattern)" />
		</g>

	</svg> -->


	</div>	
</div>

